/* General */

body {	
	margin: 0;
	background-color: rgb(224, 220, 221);
	font-family: "Roboto", sans-serif;
	color: white;	
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a:link {
	color: inherit;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	overflow: hidden;	
}

.selected {
	color: rgb(191, 4, 19);	
}

/* Logo, navbar */

.logo-container {
	background-color: rgb(0, 0, 0);
	height: 150px;
	border-bottom: 4px solid rgb(191, 4, 19);
	color: white;	
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.logo {
	display: flex;	
	align-items: center;	
	justify-content: space-between;
}

#logo-title {
	padding-left: 50px;
}

#logo-image {
	padding-right: 20px;
}

#logo-title {
	font-size: 90px;
	font-family: 'Titillium Web', sans-serif;
}

#colored {
	color: rgb(191, 4, 19);
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
}

.menu-item {
	font-size: 24px;
	text-align: center;
}

.menu-item a:hover {
	color: rgb(191, 4, 19);	
	transition: 1s;
}

/* Main part */
	
.content-container {
	min-height: 660px;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text {
	font-size: 24px;
	color: rgb(0, 0, 0);	
}

.content {
	background-color: rgb(0, 0, 0);
	border: 3px solid rgb(191, 4, 19);
	margin-bottom: 80px;
	margin-top: 50px;
}

.header {
	text-align: center;
	color: rgb(191, 4, 19);
	font-family: 'Titillium Web', sans-serif;
	font-size: 24px;
}

.header h1 {
	margin: 20px 0 0 0;	
}

.content-with-sidebar {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 200px;	
	min-height: 500px;
	width: 100%;	
}

.content-text {	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.content-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(0, 0, 0);
	margin-left: 200px;
	border-radius: 40px;
	border: 3px solid rgb(191, 4, 19);
}

.profile-wrapper {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: stretch;
	width: 100%;
}

.profile-image img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
	object-fit: contain;
}

.profile-field {
	font-size: 22px;
	padding: 5px;
}

.profile-buttons {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.profile-button {
	margin-right: 50px;
	margin-bottom: 30px;
}

.sidebar {
	background-color: rgb(0, 0, 0);
	margin-right: 50px;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;	
	border: 3px solid rgb(191, 4, 19);
}

.friend-wrapper {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.friend-username {
	font-size: 22px;
	font-weight: 600;
	padding: 5px;
	background-color: white;
	color: rgb(191, 4, 19);
	width: 50%;
	margin: 3px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid rgb(191, 4, 19);
}

.friend-online {
	background-color: green;
	border-radius: 50%;
	height: 37px;
	width: 37px;
	margin: 5px;
}

.friend-offline {
	background-color: rgb(191, 4, 19);
	border-radius: 50%;
	height: 37px;
	width: 37px;
	margin: 5px;
}

.search-bar {	
	width: 80%;
	height: 100%;	
	margin-bottom: 40px;
}

.search-bar form {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: end;
}

.search-bar input[type="text"] {	
	height: 35px;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	text-indent: 3px;
}

#search-button {
	background-color: rgb(191, 4, 19);
	color: white;
	width: 100%;
	padding: 7px;	
	border: none;
	font-family: "Roboto", sans-serif;
	font-size: 22px;	
	cursor: pointer;
}

.search-users-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-user-wrapper {
	font-size: 22px;
	font-weight: 600;
	padding: 5px;
	background-color: white;
	color: rgb(191, 4, 19);
	width: 100%;
	margin: 3px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid rgb(191, 4, 19);
}

/* Forms, buttons */

#button {
	background-color: rgb(191, 4, 19);
	color: white;
	width: 100%;
	padding: 7px;	
	border: none;
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 5px;
	cursor: pointer;
}

.form {
	padding: 50px;
}

.form form p{
	display: flex;
	flex-direction: column;
	width: 350px;
	align-items: center;
	justify-content: center;	
	margin: 16px auto 16px auto;
}

.form form input {
	padding: 5px 0 5px 0;
	width: 346px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	text-indent: 4px;
}

::-webkit-file-upload-button {
  background: rgb(191, 4, 19);
  color: white;
  padding: 8px;  
  border: none;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  font-size: 18px;
}

.form form label {
	padding-bottom: 5px;
	width: 350px;
	font-size: 18px;	
}

.form form div.widget-image-input {
	width: 350px;
	padding-bottom: 5px;
}

.form form label[for="photo-clear_id"] {
	font-size: 16px;	
}

.form form input[type="checkbox"] {	
	width: 20px;	
}

.form form ul {
	max-width: 320px;
	padding-left: 20px;
}

.form form ul li {
	padding: 3px;
}

.form form ul.errorlist {
	color: rgb(191, 4, 19);
}

.form form textarea {
	width: 350px;
	text-indent: 4px;
	padding: 0px;
}

.messages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}	

.message-info {
	padding: 7px;
	background-color: green;
	border-radius: 5px;
	color: white;	
	width: 350px;
	text-align: center;
}

#profile-image img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
	object-fit: contain;

}

.subform {
	display: flex;
	justify-content: space-between;
}

.subform-item p {
	color: rgb(191, 4, 19);
}

/* Footer */

.footer {
	background-color: rgb(0, 0, 0);
	height: 120px;
	border-top: 4px solid rgb(191, 4, 19);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.left-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.left-footer-item {
	padding-left: 100px;
}

.left-footer-item p {
	margin: 8px;
}

.right-footer {
	display: flex;
}

.right-footer-item {
	margin-left: 30px;
	margin-right: 30px;	
}

