{% extends 'base.html' %}

{% block title %}Bridge!{% endblock %}

{% block content %}
    <div class="content-with-sidebar">
        <div class="content-text">
            <div class="header">
                <h1>Bridge</h1>
            </div>

            <div class="text">
                <p>Witaj {{ request.user.first_name }} na stronie!</p>
            </div>
        </div>

        {% include 'sidebar.html' %}
    </div>

    <script type="text/javascript">
       window.setTimeout(function () {
        location.href = "http://127.0.0.1:8000/";
    }, 5000);
    </script>

{% endblock %}

