{% extends 'base.html' %}

{% block title %}Bridge!{% endblock %}

{% block content %}
    <div class="content-with-sidebar">
        <div class="content-profile">
            <div class="header">
                <h1>Wyniki wyszukiwania</h1>
            </div>

            <div class="search-users-wrapper">
                {% for user in search_result %}
                    <div class="search-user-wrapper">
                        <a href="{{ user.profile.get_absolute_url }}">
                            {{ user.username }}
                        </a>
                    </div>
                {% empty %}
                    <div class='message-info'>Żaden z użytkowników nie pasuje do wpisanej frazy.</div>
                {% endfor %}
            </div>
        </div>

        {% include 'sidebar.html' %}
    </div>

{% endblock %}