{% extends 'base.html' %}

{% block title %}Chat {% endblock %}

{% block content %}
    <div class="content-with-sidebar">
        <div class="content-chat">
            <div class="header">
                <h1>Chat z {{ other_user.username }}</h1>
            </div>

            <div class="chat-status">
                {% if request.user.pk == other_user.profile.chat_status %}
                    <div class="chat-status-on">
                        Obecny
                    </div>
                {% else %}
                    <div class="chat-status-off">
                        Nieobecny
                    </div>
                {% endif %}
            </div>

            <div class="chat-wrapper">
                <ul id="chat-log">
                </ul>
                <input id="chat-message-input" type="text" size="100">
                <input id="chat-message-submit" type="button" value="Wyślij">
            </div>
        </div>

        {% include 'sidebar.html' %}
    </div>
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"username" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username = JSON.parse(document.getElementById('username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            createMessage(data);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

        function createMessage(data) {
            var author = data['message_author'];
            var msgListTag = document.createElement('li');
            var pTag = document.createElement('p');
            pTag.textContent = data.message;

            if (author == username) {
                msgListTag.className = 'sent';
            } else {
                msgListTag.className = 'replies';
            }
            msgListTag.appendChild(pTag);
            document.querySelector('#chat-log').appendChild(msgListTag);

            document.getElementById('chat-log').scrollTop = msgListTag.offsetHeight + msgListTag.offsetTop;
        };

        setInterval(function updateDiv() {
            $(".chat-status").load(" .chat-status > *");
        }, 2000);
    </script>
{% endblock %}