{% extends 'base.html' %}

{% block title %}Reset hasła{% endblock %}

{% block content %}
    <div class="{% if validlink %}content{% else %}content-text{% endif %}">
        <div class="header">
            <h1>Reset hasła</h1>
        </div>
        {% if validlink %}
            <div class="form">
                <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input id="button" type="submit" value="Potwierdź">
                </form>
            </div>
        {% else %}
            <div class="text">
                <p>Link został wykorzystany wcześniej lub jest blędny.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}